<!-- start custom footer snippets -->
<div>
    <h3>Buy Me A Coffee!</h3>
    <div style="padding: 0; margin: 0">
        <h5 style="display: inherit; margin: 1em 0 0.5em">
            <span style="color: #F9A136">BTC</span> 14muYB2yJWp5UvsdMijihbp2i4x6SEiR6c
            <br>
            <span style="color: rgba(46, 48, 66, 0.829)">ETH</span> 0x6cEd7c15E0A28a040402002265c8D75826d705Df
            <br>
            <span style="color: rgba(15, 74, 103, 0.74)">XRP</span> rQhhCvj6Y4basBshVG8bMEchp52JKw8Yff
        </h5>
    </div>
</div>

<!-- end custom footer snippets -->