<!-- <script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/embed.js"
    data-dojo-config="usePlainJson: true, isDebug: false"></script>
<script>
    function showMailingPopUp() {
        require(
            ["mojo/signup-forms/Loader"],
            function (L) {
                L.start({ "baseUrl": "mc.us3.list-manage.com", "uuid": "fdfbab017d0bb5469ac766361", "lid": "980c780624" })
            }
        );

        document.cookie = "MCPopupClosed=;path=/;expires=Thu, 01 Jan 1970 00:00:00 UTC;";
        document.cookie = "MCPopupSubscribed=;path=/;expires=Thu, 01 Jan 1970 00:00:00 UTC;";
    }

    document.getElementById("open-popup").onclick = function () { showMailingPopUp() };
</script> -->

<script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/unique-methods/embed.js"
    data-dojo-config="usePlainJson: true, isDebug: false"></script>
<script
    type="text/javascript">window.dojoRequire(["mojo/signup-forms/Loader"], function (L) { L.start({ "baseUrl": "mc.us3.list-manage.com", "uuid": "fdfbab017d0bb5469ac766361", "lid": "980c780624", "uniqueMethods": true }) })</script>